node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.eslintrc
.prettierrc
dist # Mantenha esta linha para não copiar a pasta de saída da compilação
*.md
.DS_Store
